@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300&display=swap');
body {
    background-image: url('https://d2rormqr1qwzpz.cloudfront.net/photos/2014/12/08/71508-img_8680.jpg');
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.welcome {
    color: black;
    text-align: center;
    padding: 10px;
}

select {
    width: fit-content;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-list {
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0
}

img {
    width: 70px;
    height: auto;
}

.book-item {
    border: 2px solid lightcyan;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-around;
}

.add-btn {
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 12px;
}

.btn-add-book {
    width: 200px;
    height: 150;
}

.book-details {
    text-align: center;
}

.book-details img {
    height: 200px;
    width: auto;
}

.class-modal {
    position: absolute;
    z-index: 1;
    top: 0;
}

.details-container {
    opacity: 0.85;
    background-color: rgb(228, 228, 228);
    min-height: 80px;
    text-align: center;
}

h5 {
    text-align: center;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}

.add-input {
    display: none;
    flex-wrap: wrap;
    width: fit-content;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.page-change {
    direction: ltr;
    background-color: lightyellow;
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 12px;
}

.input {
    min-width: 240px;
}

.page-bottom {
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap
}

.book-img {
    height: 200px;
    object-fit: contain;
    padding: 10px;
}

ul {
    list-style: none;
}

.book-card {
    height: 30px;
}

.card-container {
    flex-wrap: wrap;
}